.about-me {
    color: brown;
    font-size: 60px;
    font-weight: 600;
    font-family: "Wire One", sans-serif;
    /* font-family: 'Tulpen One', cursive; */
}

.about-me- {
    color: brown;
    font-size: 40px;
    font-weight: 500;
    font-family: "Wire One", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');