@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
font-family: "Odibee Sans", cursive;
400

@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
font-family: 'Mirza', cursive;
400-700

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
font-family: 'Dosis', sans-serif;
200-800

@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
font-family: 'Tulpen One', cursive;
400

@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
font-family: 'Wire One', sans-serif;
400

@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@900&display=swap');
font-family: 'Saira Extra Condensed', sans-serif;
100-900